@page "/getting-started"
@attribute [Page(Title = "Getting Started", Order = -100)]
@inherits PageMetadataBase

<h1>@Localizer["Getting Started"]</h1>

<p>
    @Localizer["In this Article we will go over the Platform as a whole. Below are a list of areas that will help when just starting out."]
</p>


<ul>
    <li>
        <AnchorLink href="#account-creation">
            @Localizer["Account Creation"]
        </AnchorLink>
    </li>
    <li>
        <AnchorLink href="#editor-overview">
            @Localizer["Editor Overview"]
        </AnchorLink>
    </li>
</ul>


<h2 id="account-creation">@Localizer["Accont Creation"]</h2>
<p>
    @Localizer["Here are a few resources you can use to create a new Platform Account and the process for requesting Access to a new Game Development Enviornement."]
</p>
<ul>
    <li>
        <a href="/account/overview">
            @Localizer["Account Overview"]
        </a>
    </li>
    <li>
        <a href="/account/login">
            @Localizer["Login"]
        </a>
    </li>
    <li>
        <a href="/account/registration">
            @Localizer["Account Registration"]
        </a>
    </li>
    <li>
        <a href="/account/management">
            @Localizer["Account Management"]
        </a>
    </li>
    <li>
        <a href="/request-alpha-access">
            @Localizer["Requesting Alpha Access"]
        </a>
    </li>
    <li>
        <a href="/platform/account-details">
            @Localizer["Platform Account Details"]
        </a>
    </li>
</ul>


<h2 id="editor-overview">@Localizer["Editor Overview"]</h2>
<p>
    @Localizer["After your Game Development Access has been granted you wull now have access."]
</p>
<ul>
    <li>
        <a href="/account/login">
            @Localizer["Login"]
        </a>
    </li>
    <li>
        <a href="/account/registration">
            @Localizer["Account Registration"]
        </a>
    </li>
    <li>
        <a href="/request-alpha-access">
            @Localizer["Requesting Alpha Access"]
        </a>
    </li>
</ul>
