@page "/overview/cloud/cloud-platform"
@attribute [Page]
@attribute [PageMetadata(Title = "Cloud Platform")]
@inherits PageMetadataBase

<h1>@Localizer["Cloud Platform"]</h1>

<p>
    @Localizer["The Cloud Platform is the entry point for accessing your Game Platform. Clicking on the Account tab will give you an Overview of your Game Platform. The Account page includes links to the public URLs."]
</p>

<img class="--full-width" src="/images/Overview/Cloud/Account-Details.png"
     alt="@Localizer["Show the Account Details for the Cloud Platform, displays the UserId, Email, and Links to the Users Game Platform."]" />

<p>
    @Localizer["Below are details about the Account Page:"]
</p>
<ul>
    <li>
        <strong>(1)</strong>
        @((MarkupString)Localizer[@"Main Account Profile, displays details about the currently logged in user. The UserId can be used for helping to debug problems by support."])
    </li>
    <li>
        <strong>(2)</strong>
        @((MarkupString)Localizer[@"Integration Details, these are extra details about the users Account."])
    </li>
    <li>
        <strong>(3)</strong>
        @((MarkupString)Localizer[@"Platform Links, these are quick access links to the different public platform infrastructuress."])
    </li>
    <li>
        <strong>(4)</strong>
        @((MarkupString)Localizer[@"<a href=""/overview/editor-interface/entity-editor-blade"">The Entity Editor Blade</a> ..."])
    </li>
</ul>
