@page "/interfaces/editor-interface"
@attribute [Page(Title = "Editor Interface")]
@inherits PageMetadataBase

<h1>@Localizer["Editor Interface"]</h1>

<p>
    @Localizer["This section provides a detailed tour of the most common editor windows, and how to make full use of them."]
</p>

<h2>TODO: Add an Image of the Editor (Label for list below)</h2>

<ul>
    <li>
        <strong>(1)</strong>
        @((MarkupString)Localizer[@"<a href=""/editor/interface/live-game-view"">The Live-Game view</a> shows a live rendering of the game world will look through."])
    </li>
    <li>
        <strong>(2)</strong>
        @((MarkupString)Localizer[@"<a href=""/editor/interface/blades"">The Blade Selector</a> ..."])
    </li>
    <li>
        <strong>(3)</strong>
        @((MarkupString)Localizer[@"<a href=""/editor/interface/file-explorer-blade"">The File Explorer Blade</a> ..."])
    </li>
    <li>
        <strong>(4)</strong>
        @((MarkupString)Localizer[@"<a href=""/editor/interface/entity-editor-blade"">The Entity Editor Blade</a> ..."])
    </li>
</ul>
